@import "../../node_modules/@fschopp/project-planning-ui-for-you-track/dist/index.css";

/**
 * Own styles
 * ==========
 */

/** Fill the entire parent (requires the parent to be positioned) */
.fill-parent {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
 * Bootstrap
 * =========
 */

/* Highlight the active navbar item, and let the highlighting have the full-height of the navbar. */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-item.active {
  background-color: rgba(0,0,0,.1);
}
